<div class="main-content">
  <div class="container-fluid">
    <h1 class="text-center"><strong>Pensum {{pensum.code}} </strong></h1>
    <div *ngFor="let semester of pensum.semesters" id="container-semester">
      <div class="container-fluid" id="semester">Semestre {{semester.id}}</div>
      <div class="card-container">
        <div (click)="seeDetails(subject)" *ngFor="let subject of semester.subjects" class="card"
             data-target="#view" data-toggle="modal">
          <div class="card-body">
            <div class="card-text text-center">
              <p>{{subject.code}}</p>
              <p>{{subject.name}}</p>
              <p>Creditos: {{subject.credits}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="subject!==undefined" aria-labelledby="myModalLabel" class="modal modal-angular fade" id="view"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-header-text card-header-danger">
            <div class="card-text">
              <div class="card-title">
                <div class="d-flex justify-content-between">
                  <h4 class="align-bottom">Detalles asignatura</h4>
                </div>
              </div>
            </div>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
              aria-hidden="true">&times;</span></button>
          </div>
          <div class="card-body">
            <form novalidate>
              <mat-form-field appearance="outline" class="example-full-width mr-2">
                <mat-label>Nombre*</mat-label>
                <input [(ngModel)]="subject.name"
                       [readonly]=true
                       matInput
                       name="name"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width mr-2">
                <mat-label>Código*</mat-label>
                <input [(ngModel)]="subject.code" [readonly]=true
                       matInput
                       name="code"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width mr-2">
                <mat-label>Créditos*</mat-label>
                <input [(ngModel)]="subject.credits" [readonly]=true
                       matInput
                       name="credits"
                       type="number"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Semestre *</mat-label>
                <mat-select [(ngModel)]="subject.semester" [disabled]=true>
                  <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]"
                              [value]="number">
                    {{number}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Contenido*</mat-label>
                <textarea [(ngModel)]="subject.content" [readonly]=true
                          matInput name="content">
                </textarea>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Bibliografía*</mat-label>
                <textarea [(ngModel)]="subject.bibliography" [readonly]=true
                          matInput name="bibliography">
                </textarea>
              </mat-form-field>
              <div class="row justify-content-center">
                <div class="form-group">
                  <button (click)="downloadMicrocurriculum(subject.document)" *ngIf="subject.document!==undefined"
                          class="btn btn-primary btn-block" mat-raised-button>
                    Microcurriculo <i class="material-icons">download</i>
                  </button>
                </div>
                <br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





