<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header-text card-header-danger">
            <div class="row d-flex justify-content-between">
              <div class="card-text ml-3">
                <div class="card-title">
                  <h4>Solicitudes</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-form-field>
                <mat-label>Filtrar</mat-label>
                <input #input (keyup)="applyFilter($event)" matInput>
              </mat-form-field>
              <table [dataSource]="dataSource" mat-table matSort>
                <ng-container matColumnDef="document">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>DOCUMENTO</th>
                  <td *matCellDef="let element" mat-cell>{{element.document}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>NOMBRE</th>
                  <td *matCellDef="let element" mat-cell> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="surname">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>APELLIDO</th>
                  <td *matCellDef="let element" mat-cell> {{element.surname}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>EMAIL</th>
                  <td *matCellDef="let element" mat-cell> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="code">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>CÓDIGO</th>
                  <td *matCellDef="let element" mat-cell> {{element.code}} </td>
                </ng-container>
                <ng-container matColumnDef="certificate">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>CONSTANCIA</th>
                  <td *matCellDef="let element" mat-cell>
                    <button *ngIf="element.certificate!==undefined" class="btn btn-info btn-sm" (click)="downloadFile(element.certificate)"><i class="material-icons">download</i></button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="receipt">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>RECIBO</th>
                  <td *matCellDef="let element" mat-cell>
                    <button *ngIf="element.receipt!==undefined" class="btn btn-info btn-sm" (click)="downloadFile(element.receipt)"><i class="material-icons">download</i></button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>ESTADO</th>
                  <td *matCellDef="let element" mat-cell> {{element.status}} </td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr (click)="seeModal(row)" *matRowDef="let row; columns: displayedColumns;"
                    mat-row></tr>
                <div *ngIf="requests.length !=0">
                  <tr *matNoDataRow class="mat-row">
                    <td class="mat-cell" colspan="4">Nada coincide con el filtro "{{input.value}}"
                    </td>
                  </tr>
                </div>

              </table>
              <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="myModalLabel" class="modal modal-angular fade" id="status"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-header-text card-header-danger">
            <div class="card-text">
              <div class="card-title">
                <div class="d-flex justify-content-between">
                  <h4 class="align-bottom">Reporte de asignaturas</h4>
                </div>
              </div>
            </div>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
              aria-hidden="true">&times;</span></button>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-center mt-3">
              ¿Deseas aprobar o rechazar esta solicitud de Reporte de Asignaturas?
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button (click)="denyRequest()" class="btn btn-dark btn-md mr-2" type="submit">Rechazar <i class="material-icons">do_disturb</i>
                </button>
                <button (click)="beginReport()" class="btn btn-success btn-md ml-2" type="submit">Aprobar <i class="material-icons">done</i>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

